In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from scipy.stats import zscore
import math

In [ ]:
scores = pd.read_csv('/content/drive/MyDrive/03 Courses/02 Spring/2022 CUSP - Capstone project/05 Pipeline/01 MSA/01 Data/01_MSA_parameters.csv')
scores = scores[['GEO_ID','kitch_perc','plumbing_perc','Median_Age','Median_Income']]
scores

,GEO_ID,kitch_perc,plumbing_perc,Median_Age,Median_Income
0,1400000US48439121609,0.065026,0.000000,38,120673
1,1400000US48251130208,0.000000,0.000000,35,69535
2,1400000US48251131000,0.000000,0.000000,45,90029
3,1400000US48251131100,0.052097,0.025166,45,48477
4,1400000US48251130409,0.000000,0.000000,38,65395
...,...,...,...,...,...
1306,1400000US48257050201,0.000000,0.000000,20,85195
1307,1400000US48257050800,0.007374,0.001985,27,77958
1308,1400000US48257051100,0.025481,0.011325,43,50038
1309,1400000US48113016301,0.003479,0.000000,35,63732
1310,1400000US48439113809,0.000000,0.000000,46,66472

In [ ]:
MSA_CT_full = pd.read_csv('/content/drive/MyDrive/03 Courses/02 Spring/2022 CUSP - Capstone project/05 Pipeline/01 MSA/01 Data/02_MSA_CTs_full.csv')
MSA_CT_full = MSA_CT_full[['id','Estimate!!HOUSING OCCUPANCY!!Total housing units']]
MSA_CT_full.rename({'Estimate!!HOUSING OCCUPANCY!!Total housing units': 'Total_housing_units'}, axis='columns', inplace=True)
MSA_CT_full

                        id  Total_housing_units
0     1400000US48085030100                 2242
1     1400000US48085030201                 1136
2     1400000US48085030202                 1254
3     1400000US48085030203                 6745
4     1400000US48085030301                 2499
...                    ...                  ...
1307  1400000US48497150403                 1519
1308  1400000US48497150500                 2254
1309  1400000US48497150601                 3465
1310  1400000US48497150602                 2681
1311  1400000US48497150603                 1780

[1312 rows x 2 columns]

In [ ]:
scores_mrg = pd.merge(scores, MSA_CT_full, left_on='GEO_ID', right_on='id')
scores_mrg = scores_mrg[['GEO_ID','kitch_perc','plumbing_perc','Median_Age','Median_Income','Total_housing_units']]
scores_mrg

,GEO_ID,kitch_perc,plumbing_perc,Median_Age,Median_Income,Total_housing_units
0,1400000US48439121609,0.065026,0.000000,38,120673,2276
1,1400000US48251130208,0.000000,0.000000,35,69535,2431
2,1400000US48251131000,0.000000,0.000000,45,90029,1882
3,1400000US48251131100,0.052097,0.025166,45,48477,2265
4,1400000US48251130409,0.000000,0.000000,38,65395,2676
...,...,...,...,...,...,...
1306,1400000US48257050201,0.000000,0.000000,20,85195,2979
1307,1400000US48257050800,0.007374,0.001985,27,77958,3526
1308,1400000US48257051100,0.025481,0.011325,43,50038,1766
1309,1400000US48113016301,0.003479,0.000000,35,63732,2012
1310,1400000US48439113809,0.000000,0.000000,46,66472,1671

In [ ]:
scores_expand = scores_mrg.loc[scores_mrg.index.repeat(scores_mrg['Total_housing_units'])]
scores_expand

,GEO_ID,kitch_perc,plumbing_perc,Median_Age,Median_Income,Total_housing_units
0,1400000US48439121609,0.065026,0.0,38,120673,2276
0,1400000US48439121609,0.065026,0.0,38,120673,2276
0,1400000US48439121609,0.065026,0.0,38,120673,2276
0,1400000US48439121609,0.065026,0.0,38,120673,2276
0,1400000US48439121609,0.065026,0.0,38,120673,2276
...,...,...,...,...,...,...
1310,1400000US48439113809,0.000000,0.0,46,66472,1671
1310,1400000US48439113809,0.000000,0.0,46,66472,1671
1310,1400000US48439113809,0.000000,0.0,46,66472,1671
1310,1400000US48439113809,0.000000,0.0,46,66472,1671
1310,1400000US48439113809,0.000000,0.0,46,66472,1671

In [ ]:
scores_expand['kitch_zscore']     =  (zscore(scores_expand['kitch_perc']))
scores_expand['plumbing_zscore']  =  (zscore(scores_expand['plumbing_perc']))
scores_expand['age_zscore']       =  (zscore(scores_expand['Median_Age']))
scores_expand['income_zscore']    =  (zscore(scores_expand['Median_Income']))
scores_expand

,GEO_ID,kitch_perc,plumbing_perc,Median_Age,Median_Income,Total_housing_units,kitch_zscore,plumbing_zscore,age_zscore,income_zscore
0,1400000US48439121609,0.065026,0.0,38,120673,2276,4.764029,-0.462763,0.128001,1.172585
0,1400000US48439121609,0.065026,0.0,38,120673,2276,4.764029,-0.462763,0.128001,1.172585
0,1400000US48439121609,0.065026,0.0,38,120673,2276,4.764029,-0.462763,0.128001,1.172585
0,1400000US48439121609,0.065026,0.0,38,120673,2276,4.764029,-0.462763,0.128001,1.172585
0,1400000US48439121609,0.065026,0.0,38,120673,2276,4.764029,-0.462763,0.128001,1.172585
...,...,...,...,...,...,...,...,...,...,...
1310,1400000US48439113809,0.000000,0.0,46,66472,1671,-0.513433,-0.462763,0.640429,-0.307698
1310,1400000US48439113809,0.000000,0.0,46,66472,1671,-0.513433,-0.462763,0.640429,-0.307698
1310,1400000US48439113809,0.000000,0.0,46,66472,1671,-0.513433,-0.462763,0.640429,-0.307698
1310,1400000US48439113809,0.000000,0.0,46,66472,1671,-0.513433,-0.462763,0.640429,-0.307698
1310,1400000US48439113809,0.000000,0.0,46,66472,1671,-0.513433,-0.462763,0.640429,-0.307698

In [ ]:
scores_grp = scores_expand.groupby(['GEO_ID']).agg({'kitch_perc':'first',
                                                    'plumbing_perc':'first',
                                                    'Median_Age':'first',
                                                    'Median_Income':'first',
                                                    'kitch_zscore':'first',
                                                    'plumbing_zscore':'first',
                                                    'age_zscore':'first',
                                                    'income_zscore':'first',
                                                    'Total_housing_units':'first',})

scores_grp['kitch_zscore'] = scores_grp['kitch_zscore'] * (-1)
scores_grp['plumbing_zscore'] = scores_grp['plumbing_zscore'] * (-1)
scores_grp['age_zscore'] = scores_grp['age_zscore'] * (-1)

scores_grp.reset_index(level=0, inplace=True)
scores_grp

,GEO_ID,kitch_perc,plumbing_perc,Median_Age,Median_Income,kitch_zscore,plumbing_zscore,age_zscore,income_zscore,Total_housing_units
0,1400000US48085030100,0.000000,0.000000,27,68032,0.513433,0.462763,0.576587,-0.265092,2242
1,1400000US48085030201,0.000000,0.000000,23,84455,0.513433,0.462763,0.832801,0.183436,1136
2,1400000US48085030202,0.000000,0.000000,24,108523,0.513433,0.462763,0.768747,0.840757,1254
3,1400000US48085030203,0.000000,0.000000,15,101194,0.513433,0.462763,1.345228,0.640594,6745
4,1400000US48085030301,0.008804,0.005202,14,109671,-0.201051,-0.447178,1.409282,0.872110,2499
...,...,...,...,...,...,...,...,...,...,...
1306,1400000US48497150403,0.005267,0.005925,28,72000,0.086000,-0.573621,0.512533,-0.156722,1519
1307,1400000US48497150500,0.012422,0.000000,46,48678,-0.494751,0.462763,-0.640429,-0.793669,2254
1308,1400000US48497150601,0.002309,0.003752,31,62780,0.326053,-0.193497,0.320373,-0.408530,3465
1309,1400000US48497150602,0.001865,0.002611,22,71583,0.362073,0.006056,0.896854,-0.168111,2681
1310,1400000US48497150603,0.015169,0.005056,25,59130,-0.717628,-0.421657,0.704694,-0.508215,1780

In [ ]:
from google.colab import files #only in Colab
scores_grp.to_csv('03_MSA_ZScore_ManualCheck.csv', index=False) 
files.download('03_MSA_ZScore_ManualCheck.csv')